@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  max-width: 1340px;
  margin: 0 auto;
}

body {
  background: #100e40;
}

/*Header Start Here...*/
/*Navbar Start Here...*/
header {
  padding-top: 30px;
}
header nav {
  position: relative;
}

header nav ul {
  gap: 36px;
}

header nav ul li {
  list-style: none;
  position: relative;
}

header nav ul li a {
  text-decoration: none;
  font-family: Abhaya Libre;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

header nav ul li::after {
  content: "Coming soon";
  position: absolute;
  bottom: -18px;
  left: 0;
  font-family: Urbanist;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  color: #ff7262;
  text-wrap: nowrap;
}

.nav__logo {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

header .nav__logo::before {
  content: "";
  width: 580px;
  height: 2px;
  background: #e9ecf2;
  position: absolute;
  top: 50%;
  left: 100%;
}

header .nav__logo::after {
  content: "";
  width: 580px;
  height: 2px;
  background: #e9ecf2;
  position: absolute;
  top: 50%;
  right: 100%;
}

.nav_right__button {
  padding: 14px 20px;
  background: #ffc122;
  font-family: Abhaya Libre;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

/*Navbar End Here...*/

/*Banner Start Here...*/

#banner {
  padding-top: 101px;
  background: url(../Images/bann_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner .banner_menu ul {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

#banner .banner_menu ul li {
  list-style: none;
}

#banner .banner_menu ul li span {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  margin-left: 11px;
}

#banner .banner_menu ul li:nth-child(1) {
  padding: 9px 33px;
  border: 1px solid #ff86ab;
  border-radius: 13px;
  margin-right: 8px;
  position: relative;
}

#banner .banner_menu ul li:nth-child(1) span {
  padding: 3px 10px;
  background: #ff86ab;
  border-radius: 14px;
  font-family: Urbanist;
  font-size: 8.8px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: -10px;
  right: 8px;
}

#banner .banner_menu ul li:nth-child(2) {
  padding: 6px 14px;
  background: #d26feb;
  border-radius: 13px;
  display: flex;
  align-items: center;
}

#banner .banner_menu ul li:nth-child(3) {
  padding: 6px 14px;
  background: #ee4492;
  border-radius: 13px;
  display: flex;
  align-items: center;
}

#banner .banner_menu ul li:nth-child(4) {
  padding: 6px 14px;
  background: #7a97ff;
  border-radius: 13px;
  display: flex;
  align-items: center;
}

#banner .banner_menu ul li:nth-child(5) {
  padding: 7px 40px 7px 32px;
  border: 1px solid #0acf83;
  border-radius: 13px;
  margin-left: 8px;
  position: relative;
}

#banner .banner_menu ul li:nth-child(5) span {
  padding: 3px 10px;
  background: #0acf83;
  border-radius: 14px;
  font-family: Urbanist;
  font-size: 8.8px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: -10px;
  right: 8px;
}

#banner .banner_text {
  text-align: center;
}

#banner .banner_text h1 {
  width: 1080px;
  font-family: Urbanist;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  text-align: center;
  color: #ffffff;
  margin: 20px auto 34px auto;
}

#banner .banner_text h1 span {
  color: #ffc122;
}

#banner .banner_text p {
  width: 540px;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

#banner .banner_text button {
  padding: 12px 32px;
  border: 3px solid #9245f5;
  background: none;
  border-radius: 10px;
  margin-top: 45px;
  font-family: Montserrat;
  font-size: 21.62px;
  font-weight: 700;
  line-height: 33.63px;
  text-align: center;
  color: #ffffff;
  transition: 0.4s;
}

#banner .banner_text button:hover {
  background: #ffc122;
  border: 3px solid transparent;
  color: #080808;
}

#banner .banner_text button:nth-child(2) {
  background: #ffc122;
  border: 3px solid transparent;
  color: #080808;
  margin-left: 28px;
}

#banner .banner_car {
  margin-top: 229px;
  margin-bottom: 98px;
  position: relative;
}

#banner .banner_car img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#banner .banner_car .car_title h4:nth-child(1) {
  width: 185px;
  font-family: Abhaya Libre;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.39px;
  text-align: right;
  color: #ffffff;
  position: absolute;
  top: -120px;
  left: 225px;
}

#banner .banner_car .car_title h4:nth-child(2) {
  width: 98px;
  font-family: Abhaya Libre;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.39px;
  text-align: right;
  color: #ffffff;
  position: absolute;
  top: -120px;
  right: 210px;
}

#banner .banner_car .car_title h4:nth-child(3) {
  font-family: Abhaya Libre;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.39px;
  text-align: right;
  color: #ffffff;
  position: absolute;
  top: 75px;
  left: -40px;
}

#banner .banner_car .car_title h4:nth-child(4) {
  font-family: Abhaya Libre;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.39px;
  text-align: right;
  color: #ffffff;
  position: absolute;
  bottom: -140px;
  left: 600px;
}

#banner .banner_car .car_title h4:nth-child(5) {
  width: 124px;
  font-family: Abhaya Libre;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.39px;
  color: #ffffff;
  position: absolute;
  bottom: -20px;
  right: 50px;
}

#banner .banner_car .round_1 {
  position: relative;
  top: -134px;
  left: 125px;
}

#banner .banner_car .round_2 {
  position: relative;
  top: -50px;
  left: 125px;
}

#banner .banner_car .round_3 {
  position: relative;
  top: -60px;
  left: 80px;
}

#banner .banner_car .round_4 {
  position: relative;
  top: -50px;
  left: 110px;
}

#banner .banner_car .round_8 {
  position: relative;
  top: 50px;
  left: -100px;
}

#banner .banner_car .round_9 {
  position: relative;
  top: -10px;
  left: 30px;
}

#banner .banner_car .round_10 {
  position: relative;
  top: -100px;
  left: -10px;
}

/*Banner End Here...*/
/*Header End Here...*/

/*--Utilities Part Start---*/

#utilities {
  padding-top: 29px;
  background: url(../Images/NFTbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#utilities .title h4 {
  padding-left: 82px;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  position: relative;
}

#utilities .title h4::before {
  content: "";
  width: 67px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: 12px;
  left: 0;
}

#utilities .title h2 {
  font-family: Abhaya Libre;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  color: #ffffff;
}

#utilities .multicast {
  margin-top: 69px;
}

#utilities .item_text {
  margin-top: 54px;
  margin-left: 10px;
}

#utilities .item_text h3 {
  font-family: Abhaya Libre;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: left;
  color: #ffffff;
}

#utilities .item_text p {
  width: 832px;
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.4px;
  color: #ffffff;
}

#utilities .driver {
  margin-top: 65px;
  text-align: right;
  justify-content: end;
}

#utilities .driver_text {
  margin-top: 47px;
  margin-right: 13px;
}

#utilities .driver_text h3 {
  font-family: Abhaya Libre;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  color: #ffffff;
}

#utilities .driver_text p {
  width: 832px;
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.4px;
  color: #ffffff;
}

#utilities .bot {
  margin-top: 65px;
}

#utilities .nft {
  margin-top: 65px;
  text-align: right;
  justify-content: end;
}

#utilities .nft_text {
  margin-right: 13px;
}

#utilities .nft_text h3 {
  font-family: Abhaya Libre;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  color: #ffffff;
}

#utilities .nft_text p {
  width: 832px;
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.4px;
  color: #ffffff;
}

#utilities .gmames {
  margin-top: 65px;
}

/*--Utilities Part End---*/
/*--Tokenomics part Start Here...*/
#tokenomics {
  margin-top: 267px;
}

#tokenomics .row {
  align-items: center;
}

.tokenomics_ball {
  width: 398px;
  height: 398px;
  border-radius: 50%;
  background: linear-gradient(#abcaf8, #7a97ff, #ac45f5a1);
  box-shadow: 30px 30px 50px 10px #ac45f5a1;
  backdrop-filter: blur(243px);
  position: absolute;
  top: -230px;
  left: -91px;
  z-index: -2;
}

.tokenomics__card {
  padding: 50px 36px 100px 40px;
  background: linear-gradient(#ffffff25, #ffffff36);
  backdrop-filter: blur(80px);
  border-radius: 24px;
}

.tokenomics__title h4 {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #f8f9ff;
  margin-left: 82px;
  position: relative;
}
.tokenomics__title h4::before {
  content: "";
  width: 67px;
  height: 2px;
  background: #f8f9ff;
  position: absolute;
  bottom: 6px;
  left: -82px;
}

.circle_details {
  font-family: Urbanist;
  font-size: 21.89px;
  font-weight: 700;
  line-height: 27.1px;
  color: #ffffff;
  position: relative;
  text-align: center;

  .spanOne {
    width: 138px;
    position: absolute;
    top: 30px;
    left: -90px;
  }

  .spanTwo {
    width: 139px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .spanThree {
    width: 210px;
    position: absolute;
    top: 20px;
    right: -130px;
  }

  .spanFour {
    width: 115px;
    position: absolute;
    top: 160px;
    right: -120px;
  }

  .spanFive {
    width: 53px;
    position: absolute;
    right: -80px;
    bottom: -350px;
  }

  .spanSix {
    width: 125px;
    position: absolute;
    bottom: -450px;
    right: -70px;
  }

  .spanSeven {
    width: 96px;
    position: absolute;
    bottom: -520px;
    right: 50px;
  }
  .spanEight {
    width: 96px;
    position: absolute;
    bottom: -560px;
    right: 240px;
  }
  .spanNine {
    width: 96px;
    position: absolute;
    bottom: -350px;
    left: -100px;
  }
}

.color__circle {
  margin: 0 auto;
  width: 492px;
  height: 492px;
  border-radius: 50%;
  border: 10px solid transparent;
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 20% 20%,
    30% 30%;
  background-repeat: no-repeat;
  background-image: linear-gradient(#383753fe, #4f4c9a),
    linear-gradient(20deg, red 50%, rgb(29, 104, 139) 20%),
    linear-gradient(120deg, #d520d8 56%, rgb(195, 207, 26) 30%),
    linear-gradient(300deg, blue 36%, rgb(118, 10, 137) 30%),
    linear-gradient(210deg, green 36%, rgb(143, 19, 19) 30%),
    linear-gradient(210deg, rgb(0, 58, 128) 36%, rgb(19, 96, 143) 30%),
    linear-gradient(210deg, rgb(49, 78, 49) 36%, rgb(215, 51, 185) 30%),
    linear-gradient(210deg, rgb(0, 79, 128) 36%, rgb(57, 181, 203) 30%);
  background-position: center center, left top, right top, left bottom,
    right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  position: relative;
}

.tokenomics__title h3 {
  font-family: Abhaya Libre;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  color: #ffffff;
  margin-top: 39px;
}
.circle__outline {
  width: 339px;
  height: 339px;
  opacity: 0.15px;
  border: 1.77px dashed #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tocenomics__left .circle {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 257px;
  height: 257px;
  border-radius: 50%;
  background: linear-gradient(228.48deg, #19005fa1 16.84%, #49245b91 88.83%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tocenomics__left .circle h3 {
  font-family: Urbanist;
  font-size: 25px;
  font-weight: 700;
  line-height: 44.83px;
  text-align: center;
  color: #ffffff;
}

.tokenomics__right ul li {
  width: 85%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding: 8px 18px;
  background: linear-gradient(91.38deg, #180e85 0%, #472e96 100%);
  border-left: 11px solid #aee7ff;
  border-radius: 8px;
  opacity: 60%;
  margin: 10px auto;
  transition: 0.4s;
}

.tokenomics__right ul li:nth-child(2) {
  border-left: 11px solid #ffc122;
  .span1 {
    color: #ffc122;
  }
}

.tokenomics__right ul li:nth-child(3) {
  border-left: 11px solid #2864ff;
  .span1 {
    color: #2864ff;
  }
}

.tokenomics__right ul li:nth-child(4) {
  border-left: 11px solid #d26feb;
  .span1 {
    color: #d26feb;
  }
}

.tokenomics__right ul li:nth-child(5) {
  border-left: 11px solid #6998ff;
  .span1 {
    color: #6998ff;
  }
}

.tokenomics__right ul li:nth-child(6) {
  border-left: 11px solid #6ee3c0;
  .span1 {
    color: #6ee3c0;
  }
}

.tokenomics__right ul li:nth-child(7) {
  border-left: 11px solid #7c75ff;
  .span1 {
    color: #7c75ff;
  }
}

.tokenomics__right ul li:nth-child(8) {
  border-left: 11px solid #df1dff;
  .span1 {
    color: #df1dff;
  }
}

.tokenomics__right ul li:nth-child(9) {
  border-left: 11px solid #ee4492;
  .span1 {
    color: #ee4492;
  }
}

.tokenomics__right ul li:hover + li {
  width: 95%;
}

.tokenomics__right ul li:hover {
  width: 100%;
}

.tokenomics__right ul li h4 {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.15px;
  text-align: left;
  color: #ffffff;
}

.tokenomics__right ul li p {
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: left;
  color: #ffffff;
}

.tokenomics__right ul li h5 {
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.15px;
  text-align: right;
  color: #ffffff;
}

.tokenomics__right ul li h5 .span1 {
  font-size: 18px;
  font-weight: 700;
  color: #aee7ff;
  display: inline-block;
}

.tokenomics__right ul li h5 span {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.15px;
  text-align: right;
  display: block;
  color: #ffffff;
}

#tokenomics pre {
  color: white;
}

/*--Tokenomics part End Here...*/
/*--Masterchef part Start Here...*/
#masterchef {
  padding: 168px 0;
  position: relative;
}
#masterchef .triangleIcon {
  width: 456px;
  height: 400px;
  transform: rotate(75deg);
  position: absolute;
  top: -50px;
  left: -200px;
  z-index: -1;
  
}

.triaangleImage {
  width: 100%;
  opacity: 40%;
  
}

#masterchef .masterItemCard {
  background: linear-gradient(
    113.41deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.21) 99.48%
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(80px);
  /* -webkit-backdrop-filter: blur( 80px ); */
  border-radius: 10px;
  position: relative;
  z-index: 999;
  padding: 63px 0 149px 0;

  .masterTitle {
    h3 {
      font-family: Urbanist;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      color: #f8f9ff;
      margin-left: 185px;
      margin-bottom: 39px;
      position: relative;

      &::after {
        content: "";
        width: 67px;
        height: 2px;
        background: #f8f9ff;
        position: absolute;
        bottom: 10px;
        left: -80px;
      }
    }

    h2 {
      font-family: Abhaya Libre;
      font-size: 48px;
      font-weight: 400;
      line-height: 52.8px;
      color: #ffffff;
      margin-left: 103px;
    }
  }

  .masterCircle {
    font-family: Urbanist;
    font-size: 21.89px;
    font-weight: 700;
    line-height: 27.1px;
    color: #ffffff;
    position: relative;
    text-align: center;

    margin: 190px auto 0 auto;
    position: relative;
    width: 520px;
    height: 520px;
    border-radius: 50%;
    border: 12px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#262552, #211f4d),
      linear-gradient(30deg, #6ee3c0 36%, #F37500 30%),
      linear-gradient(120deg, #AEE7FF 36%, #df1dff 30%),
      linear-gradient(300deg, #6ee3c0 36%, #6ee3c0 30%),
      linear-gradient(210deg, #ffc122 36%, #ee4492 30%);
    background-position: center center, left top, right top, left bottom,
      right bottom;
    background-origin: content-box, border-box, border-box, border-box,
      border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;

    
    .circleInfo{
        
        .one{
            width: 156px;
            position: absolute;
            top: 0;
            left: -50px;
        }
        .two{
            width: 62px;
            position: absolute;
            top: -80px;
            left: 50%;
            transform: translateX(-50%);
        }
        .three{
            width: 93px;
            position: absolute;
            top: 0px;
            right: 0;
        }
        .four{
            width: 114px;
            position: absolute;
            top: 270px;
            right: -130px;
        }
        .five{
            width: 135px;
            position: absolute;
            top: 450px;
            right: -60px;
        }
        .six{
            width: 121px;
            position: absolute;
            top: 430px;
            left: -60px;
        }


    }

    .dotCircle{
        width: 386.47px;
        height: 386.47px;
        border: 2px dashed #FFFFFF;
        border-radius: 50%;
        opacity: 0.25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        

        .circleText{
            width: 277.15px;
            height: 277.15px;
            background: linear-gradient(228.48deg, #19005F 16.84%, #49245B 88.83%);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.5px;
            display: flex;
            justify-content: center;
            align-items: center;

            h4{
                width: 227px;
                font-family: Urbanist;
                font-size: 30px;
                font-weight: 700;
                line-height: 51.05px;
                text-align: center;
                color: #FFFFFF;

                span{
                    display: block;
                    font-size: 20px;
                    font-weight: 600;

                }

            }

        }

    }
  }

  .masterRight{
    text-align: center;
    color: #FFFFFF;
    h5{
        font-family: Urbanist;
        font-size: 26px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 51px;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;

        li{
            list-style: none;
            font-family: Urbanist;
            font-size: 24px;
            font-weight: 500;
            line-height: 26.34px;
            padding: 20px 0;
            background: linear-gradient(91.38deg, #180E85 0%, #472E96 100%);
            border-radius: 8px;
            scale: .85;
            transition: .4s;

            &:nth-child(1){
                border-left: 11px solid #882DCF;
            }

            &:nth-child(2){
                border-left: 11px solid #D26FEB;
            }

            &:nth-child(3){
                border-left: 11px solid #EE4492;
            }

            &:nth-child(4){
                border-left: 11px solid #DF1DFF;
            }

            &:nth-child(5){
                border-left: 11px solid #7C75FF;
            }

            &:nth-child(6){
                border-left: 11px solid #6EE3C0;
            }

            &:nth-child(7){
                border-left: 11px solid #6998FF;
            }

            &:nth-child(8){
                border-left: 11px solid #AEE7FF;
            }

            &:nth-child(9){
                border-left: 11px solid #2864FF;
            }

            &:hover{
                scale: 1;
            }

            &:hover + li{
                scale: .95;
            }

        }
    }
  }
}

/*--Masterchef part End Here...*/

/*--Roadmap part Start Here...*/
#roadmap{
    .title{
        h3{
            font-family: Urbanist;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            color: #F8F9FF;
            margin-left: 170px;
            position: relative;
            &::after {
                content: "";
                width: 67px;
                height: 2px;
                background: #f8f9ff;
                position: absolute;
                bottom: 10px;
                left: -80px;
            }
            
        }

        h2{
            font-family: Abhaya Libre;
            font-size: 48px;
            font-weight: 400;
            line-height: 52.8px;
            color: #FFFFFF;
            margin: 18px 0 50px 85px;
        }
    }
    

    .roadmapItem{
        position: relative;
        border-left: 1px solid rgba(255, 225, 0, 0.30);
        /* padding-bottom: 36px; */
        
        ul{
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            li{
                h4{
                    font-family: Inter;
                    font-size: 13.05px;
                    font-weight: 400;
                    line-height: 22.61px;
                    color: #FFFFFF;
                    margin-left: 7px;

                }
            }
        }
        
    }

    .roadmapTime{
        padding-top: 85px;
        text-align: center;
        h3{
            font-family: Inter;
            font-size: 20.88px;
            font-weight: 600;
            line-height: 27.83px;
            color: #FFFFFF;
            span{
                color: #FFC122;
            }
        }
    }

    #blankImem{
        padding-top: 153px;
        border: none;
    }

    #secondItem{
        padding-bottom: 0;

        ul{
            margin-bottom: 0;
        }

        .roadmapTime{
            padding-top: 0;
        }
    }
}
/*--Roadmap part End Here...*/


